Repository Samograje/tasks, pull requests merged in 2020-04, with the labels that each got.

#17 Endpointy do pobierania, dodawania i edycji danych
  .idea/.gitignore
  backend/src/app.ts
  backend/src/controllers/device.controller.ts
  backend/src/controllers/task.controller.ts
  backend/src/models/device.ts
  backend/src/models/task.ts
Labels: backend

#22 Obsługa błędów walidacji
  backend/src/config/validation.ts
  backend/src/controllers/device.controller.ts
Labels: backend

#21 Rozbudowa dokumentacji backendu
  backend/README.md
  backend/src/app.ts
Labels: documentation

#33 Poprawa błędu zmiany _id przy aktualizacji danych
  backend/src/controllers/device.controller.ts
Labels: backend

#32 Zabezpieczenie przed manipulacją daty utworzenia zadania
  backend/src/models/task.ts
Labels: backend

#34 Wysyłanie pustej listy tasków, gdy nie ma device
  backend/src/controllers/device.controller.ts
Labels: backend

#39 Dodanie ikon aplikacji dla android i ios
  client/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  client/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  client/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  client/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  client/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  client/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/100.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/1024.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/114.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/120.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/128.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/144.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/152.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/16.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/167.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/172.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/180.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/196.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/20.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/216.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/256.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/29.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/32.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/40.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/48.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/50.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/512.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/55.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/57.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/58.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/60.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/64.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/72.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/76.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/80.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/87.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/88.png
  client/ios/tasks/Images.xcassets/AppIcon.appiconset/Contents.json
Labels: frontend

#54 Dostosowanie ekranu taska do ciemnego motywu kolorystycznego
  client/src/components/details/DetailsComponent.tsx
  client/src/styles/common.tsx
Labels: frontend

#66 Launch screen
  client/app.json
  client/assets/img/icon/icon.png
  client/assets/img/splash/splash-hdpi.png
  client/assets/img/splash/splash-mdpi.png
  client/assets/img/splash/splash-xhdpi.png
  client/assets/img/splash/splash-xxhdpi.png
  client/assets/img/splash/splash-xxxhdpi.png
  client/assets/img/splash/splash.png
  client/assets/splash_example.png
Labels: frontend
